@import url('https://fonts.googleapis.com/css2?family=Alata&family=Balsamiq+Sans:wght@700&family=Lexend+Peta&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	background-image: url(bg1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
   font-family: 'Alata', sans-serif;
}

.overlay{
	position: absolute;
	top: 50%;
	left: 50%;
	background: #000;
	opacity: 0.7;
	height: 100%;
	width: 100%;
	transform: translate(-50%,-50%);

	}
	.content{
		position: relative;
		top: 50%;
		left: 50%;
		background: #fff;
		opacity: 1;
		height: 90%;
		width: 85%;
		border-radius: 10px;
		transform: translate(-50%,-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;	
	}
	.middle{
		background: none;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80%;
	}
	.header{
		width: 100%;
		height: 15%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		background: none;
		padding: 0 5% 0 0;
		z-index: 100;
	}
	.header ul{
		background: none;
		margin-left: 20%;
	}
	.header ul li{
		list-style: none;
		background: none;
		display: inline-block;
		padding: 7px 20px;
		cursor: pointer;
	}
	.header ul li a{
		background: none;
		color: #fff;
		transition: 0.5s;
	}
	.header ul li a:hover{
		color: green;
	}
	.active{
		border: none;
		box-shadow: 0.1px 4px 8px 2px rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		background: #fff;
		padding: 15px 40px;
		color: #000;
		cursor: pointer;
		font-size:15px;
		outline: none;
		transition: 0.5s;
	}
	.active:hover{
		background: #52D017;
		color: #fff;
	}
	.right{
		position: absolute;
		right: 0;
		top: 0;
		background: orange;
		height: 100%;
		width: 50%;
		border-radius: 0 15px 15px 180%;
		display: flex;
		align-items: center;
		justify-content: center;
			box-shadow: 0.1px 4px 8px 2px rgba(0, 0, 0, 0.2);
	}
	.orange{
		position: absolute;
		height: 480px;
		width: 550px;
		left: -50px;
		background: none;
	}
	.left{
		position: absolute;
		left: 0;
		top: 0;
		background: none;
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		padding: 0 0 0 40px;
		justify-content: center;
	}
	.left i{
		background: none;
	}
	.left h1{
		background: none;
		font-weight: bold;
		font-size: 50px;
		color: green;
	}
	.left p{
		margin-top: 5px;
		background: none;
		font-weight: bold;
		font-size: 15px;
		color: #52D017;
	}
	.buttons{
		display: flex;
		align-items: center;
		margin-top: 80px;
		background: none;
	}
	.buttons button{
		padding: 10px;
		color: #D4A017;
		margin: 0 20px 0 0;
		background: none;
		border: none;
		cursor: pointer;
		border-radius: 10px;
		box-shadow: 0.1px 4px 8px 2px rgba(0, 0, 0, 0.2);
		transition: 0.5s;
		font-size: 15px;
	}
	.buttons button:hover{
		background: orange;
		color: #fff;
	}
	.header h1{
		margin-right: 19%;
		background: none;
		text-transform: uppercase;
		color: green;
	}
	.header h1 span{
		background: none;
		color: orange;
	}
	.active i{
		background: none;
		
	}
	.bottom{
		position: absolute;
		left:0;
		bottom:0;
		background: orange;
		height: 100%;
		width: 100%;
		border-radius: 180% 15px 15px 0;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	.juice{
		position: absolute;
		bottom:0;
		left:0;
		background: none;
		display: flex;
		justify-content: center;
	}
	.juice img{
		position: relative;
		background: none;
		bottom: -50px;
		width: 140%;
		height: 600px;
		left: -120px;
	}
	.social_media{
		position: absolute;
		bottom: 18px;
		left: 40px;
		background: none;
	}
	.social_media i{
		padding: 10px;
		font-size: 26px;
		background: none;
	}
	.fa-facebook-official:hover{
		background: #56A5EC;
		color: #fff;
		border-radius: 10px;
		cursor: pointer;
	}
	.fa-twitter-square:hover{
		background: #56A5EC;
		color: #fff;
		border-radius: 10px;
		cursor: pointer;
	}
	.fa-instagram:hover{
		background: #FF00FF;
		color: #fff;
		border-radius: 10px;
		cursor: pointer;
	}
























